:root {
    --main-color: #009431;
    --main-rgb-color: 0, 148, 49;
    --dark-color: #2f3531;
}

body {
    font-size: 14px;
    color: var(--dark-color);
    font-family: "Poppins", sans-serif;
}

a,
.nav-link {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

a:hover,
.nav-link:hover {
    color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

p {
    font-size: 13px;
    line-height: 25px;
}

img {
    max-width: 100%;
}

section {
    margin: 4rem 0;
    padding: 3rem 0;
}

i {
    font-size: 1.375rem;
    vertical-align: middle;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-control,
.form-select,
.btn {
    border-radius: 0;
    font-size: inherit;
    height: 3rem;
    text-transform: capitalize;
}

.form-control:focus,
.form-select:focus,
.btn:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--main-color);
}

.btn {
    z-index: 1;
    color: white;
    transition: 0.3s;
    position: relative;
    text-transform: uppercase;
    border-color: var(--main-color);
    background-color: var(--main-color);
}

.btn:after {
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
    content: '';
    height: 100%;
    transition: 0.3s;
    position: absolute;
    background-color: white;
}

.btn.dark {
    background-color: var(--dark-color);
    color: white;
    border-color: var(--dark-color);
}

.btn:hover {
    color: var(--dark-color);
    border: 1px solid var(--main-color);
}

.btn.dark:hover {
    border-color: var(--dark-color);
}

.btn:hover:after {
    width: 100%;
}

/*  =========================================================================   About  */
.list-icons {
    overflow: hidden;
    margin-bottom: 1.25rem;
}

.list-icons i {
    --icon-height: 45px;
    background-color: rgb(var(--main-rgb-color), 0.10);
    width: var(--icon-height);
    height: var(--icon-height);
    border-radius: 50%;
    display: inline-grid !important;
    place-content: center;
    margin-right: .5rem;
    color: white;
    color: var(--main-color);
}

.alert-quote {
    background-color: rgb(var(--main-rgb-color), 0.05);
    padding: 1.25rem;
    border-left: .35rem solid var(--main-color);
}

.bottom-15 {
    bottom: .9375rem;
}

/*  =========================================================================   Property Store  */
.bg-main-color {
    background-color: var(--main-color);
    color: white;
}

/*  =========================================================================   Services  */
.card {
    border: 1px solid var(--dark-color);
    box-shadow: 5px 5px var(--dark-color);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-body:not(.featured-list-card .card-body) {
    padding: 2.25rem;
}

.card img {
    background-color: white;
    border-radius: .25rem;
}

.card h5 {
    margin: .5rem 0;
}

.card p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
}

.card a:not(h5 a) {
    font-size: 0.875rem;
    font-weight: 500;
}

.card a:not(h5 a) i {
    font-size: 1rem;
}

.card:hover {
    background-color: var(--main-color);
    color: white;
}

/*  =========================================================================   Featured Listing Properties  */
.featured-list-card .card-image {
    height: 220px;
    overflow: hidden;
    position: relative;
}

.featured-list-card .card-image img {
    transition: .5s linear;
}

.featured-list-card:hover .card-image img {
    transform: scale(1.2);
}

.featured-list-card .card-image span {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--main-color);
    color: white;
    padding: .25rem .75rem;
    font-size: 13px;
}

.featured-list-card .card-image .location-gallery {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to top, black 0, transparent);
    color: white;
    display: flex;
    justify-content: space-between;
}

.featured-list-card .card-image .location-gallery i {
    font-size: 19px;
    vertical-align: bottom;
    margin-right: 0.25rem;
}

.featured-list-card .card-body .price {
    margin: .5rem 0;
    display: block;
    font-weight: 600;
    color: var(--main-color);
}

.featured-list-card .card-body h6 {
    font-size: 18px;
}

.featured-list-card .card-body p {
    margin: .5rem 0;
}

.featured-list-card .card-body ul {
    margin-top: 1.5rem;
}

.featured-list-card .card-body {
    border: 1px solid #e8e5e5;
}

/*  =========================================================================   Plane Area  */
.sketch-details {
    background-color: var(--main-color);
    color: white;
    padding: 4rem;
}

.sketch-details p {
    margin: 2rem 0 4rem;
}

.sketch-details li {
    margin-bottom: 1rem;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.sketch-details li:after {
    content: '';
    position: absolute;
    width: 100%;
    border: 1px dashed rgb(255 255 255 / 50%);
    top: 50%;
}

.sketch-details li span {
    background-color: var(--main-color);
    display: inline-block;
    z-index: 1;
    padding: 0 .75rem;
    font-size: 13px;
}

.sketch-details li span:nth-child(1) {
    font-weight: 600;
    font-size: 14px;
}